<nav class="site-nav">
  <div class="nav-left">
    <a href="{{ url_for('home') }}">News</a>
    <a href="{{ url_for('merch.plushies') }}">Merch</a>
    <a href="{{ url_for('blog.index')}}">Floor Talk</a>
    
  </div>
  <div class="nav-right">
    {% if g.user %}
    <a href="#">Welcome {{ g.user['username'] }}</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}
    
  </div>
</nav>