{% extends 'bases/base_blog.html' %}

{% block content %}
  <div class="blog-page-head">
    <h1 class="blog-page-title">New Post</h1>
  </div>

  <form method="post" class="blog-form">
    <label class="blog-label" for="title">Title</label>
    <input class="blog-input" name="title" id="title" value="{{ request.form['title'] }}" required>

    <label class="blog-label" for="body">Body</label>
    <textarea class="blog-textarea" name="body" id="body">{{ request.form['body'] }}</textarea>

    <input class="blog-submit" type="submit" value="Save">
  </form>
{% endblock %}